body{
    font-family:roboto;
}

H1, H2, H3{
    font-family: dosis;
    color: #308987;
}


.graph-section{
    width:50%;
    float:right;
    margin:50;
}

.section{
    clear:both;
    margin-left: 10%;
}

@font-face {
    font-family: dosis;
    src: url('fonts/Dosis-Regular.ttf')  format('truetype');
}


@font-face {
    font-family: roboto;
    src: url('fonts/Roboto-Light.ttf')  format('truetype');
}
