body{
    font-family:vazir;
    direction: rtl;
}

H1, H2, H3{
    font-family: vazir;
    color: #308987;
}

.graph-section{
    width:50%;
    float:right;
}

.graph-section h3 {
  direction: rtl;
}

.graph-section {
  direction: ltr;
}

.section{
    float: left;
    width: 32%;
    margin-right: 1%;
}

.visible{
    visibility: hidden !important;
    display: none;
}

.slider{
    margin-top: 2%;
}

@font-face {
    font-family: dosis;
    src: url('fonts/Dosis-Regular.ttf')  format('truetype');
}


@font-face {
    font-family: roboto;
    src: url('fonts/Roboto-Light.ttf')  format('truetype');
}


@font-face {
    font-family: koodak;
    src: url('fonts/koodak.ttf')  format('truetype');
}



@font-face {
    font-family: vazir;
    src: url('fonts/Vazir.ttf')  format('truetype');
}


@font-face {
    font-family: vazir-bold;
    src: url('fonts/Vazir-Bold.ttf')  format('truetype');
}


@font-face {
    font-family: vazir-med;
    src: url('fonts/Vazir-Medium.ttf')  format('truetype');
}

.button {
  font-family: vazir;
  display: inline-block;
  border-radius: 1px;
  background-color: #9ab39b ;
  border: none;
  color: #100303;
  text-align: center;
  font-size: 19px;
  padding: 1.9%;
  width: 50%;
  height: 10%;
  transition: all 0.5s;
  cursor: pointer;
  margin-top:5%;
  margin-left: 10%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

._dash-undo-redo{
  display: none !important;
}



